*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}


/*
.quicksand-<uniquifier> {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
  */


body{ 
  background-color: #fffff3;
  height: 100%vh;
    
}



  header{ width: 100%;
          height: 120px;
          position: fixed;
          top: 0;
          background-color: #00dbff;
          display: flex;
          flex-wrap: nowrap;
          z-index: 1;
    
  }



  .logo{
    display: flexbox;
    justify-content: flex-start;
    align-items: center;
    height: 100px;
    width: auto;
    margin: 10px 10px;
  }

  nav{ 
    position: absolute;
    right:15px;
    bottom: 5px;
    padding: 10px;
  
  }
/*
  .searchcontainer{
    width: max-content;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 28px;
    background-color: #fffff3;

  }*/

  .search-input{
    margin-left: 14px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    outline: none;
    border: none;
    background-color: #fffff3;
    padding: 10px;
    border-radius: 28px;

  }

  nav ul li{
    left: 20px;
    bottom: 20px;
    margin-left: 14px;
    list-style: none;
    display: inline-block;
    color: black;

    
  }

  nav ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    background-color:#fffff3;
    padding: 10px;
    border-radius: 28px;
  }


  nav ul li a:hover{
    font-weight: bolder;
    color: black;
    background-color:#a6e51c;
  }

  main{
    margin-top: 120px;
    background-color: #fffff3;
     display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-content: center;
  }

  main p{
    line-height: 1.6;
    font-size: 16px;
  }

  section{
    margin-top: 10px;
  }



  h1{
    text-align: center;
    font-weight: bolder;
    font-size: (25px, 16.667px, 50px);
    color: black;
    padding: 20px;
  }

  audio{
   align-self: center;
   margin: 20px auto;
  }

  h2{
    text-align: center;
    font-weight: bolder;
    font-size: 45px;
    color: black;
    padding: 20px;
  }

  .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 15px;
  }

  .klassetrin_et{
    border-radius: 28px;
    width: 350px;
    height: 400px;
    padding: 15px;
    background-color: #ecffd4;
  }

   .klassetrin_to{
    border-radius: 28px;
    width: 350px;
    height: 400px;
    padding: 15px;
    background-color: #a6e51c;
  }

   .klassetrin_tre{
    border-radius: 28px;
    width: 350px;
    height: 400px;
    padding: 15px;
    background-color: #53e057;
  }

  h3{
    text-align: center;
    font-weight: 700;
    color: black;
  }

  .sendknap{
    width: 40%;
    height: 35px;
    display: block;
    margin: 10px auto;
    font-size: 1.3em;
    cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #000;
  background-color: #53e057;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px #999;

  }



.sendknap:active{
  box-shadow: 0 1px #666;
  transform: translateY(4px);
  }



  footer{
    width: 100%;
    height: 60px;
    padding-top: 20px;
    background-color: #00dbff;
    text-align: center;
    margin-top: 30px;
  }

/* Desktop */

  @media screen and (min-width: 769px){


    #velkomstcontainer{
    max-width: 60%;
   /* border: 3px solid darkgreen;*/
    background-color: #ecffd4;
    border-radius: 10px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    margin: 10px auto; 
}

#kontaktform{
   max-width: 60%;
   /* border: 3px solid darkgreen;*/
    background-color: #ecffd4;
    border-radius: 10px;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    margin: 10px auto; 
}

#kontaktform p{
  display: block;
  width: 60%;
  font-size: 1em;
  margin: 10px auto;
}

label{
  color: black;
  font-size: 1.4em;
}

input[type=text], input[type=email], select, textarea{
  width: 100%;
  padding: 1em;
  border: 1px solid #53e057;
  border-radius: 5px;
  margin-top: 0,5em;
  margin-bottom: 2em;
  max-width: 100%;

}



    #bars{
        display: none; /* fjerne det visuelt fra skærmen*/
    }

    nav ul{
        display: flex;
        justify-content: flex-end; /* her kan man specificere hvor meuen skal være*/
    }

  }

  /*-------------------tablet-------------------------*/

@media screen and (max-width: 768px){

    #velkomstcontainer{
    max-width: 90%;
   /* border: 3px solid darkgreen;*/
   background-color: #ecffd4;
    border-radius: 10px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    
}

    header nav{
        display: none; /* skjuler nav element i mobil version*/
    }


#kontaktform{
   max-width: 90%;
   /* border: 3px solid darkgreen;*/
    background-color: #ecffd4;
    border-radius: 10px;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    margin: 10px auto; 
}

#kontaktform p{
  display: block;
  width: 80%;
  font-size: 1em;
  margin: 10px auto;
}

input[type=text], input[type=email], select, textarea{
  width: 100%;
  padding: 1em;
  border: 1px solid #53e057;
  border-radius: 5px;
  margin-top: 0,5em;
  margin-bottom: 2em;
  max-width: 100%;
}


}

  
  /*-----------------mobile-------------------------------*/
   
  @media screen and (max-width: 480px){

      #velkomstcontainer{
    max-width: 98%;
   /* border: 3px solid darkgreen;*/
   background-color: #ecffd4;
    border-radius: 10px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    
}

    header nav{
        display: none; /* skjuler nav element i mobil version*/
    }

#kontaktform{
   max-width: 98%;
   /* border: 3px solid darkgreen;*/
    background-color: #ecffd4;
    border-radius: 10px;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    margin: 10px auto; 
}

#kontaktform p{
  display: block;
  width: 90%;
  font-size: 1em;
  margin: 10px auto;
}

input[type=text], input[type=email], select, textarea{
  width: 100%;
  padding: 1em;
  border: 1px solid #53e057;
  border-radius: 5px;
  margin-top: 0,5em;
  margin-bottom: 2em;
  max-width: 100%;

}


  }