*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}



body{ 
  height: 100%vh;
}

/*---------------header og navigation------------*/

  header{ width: 100%;
          height: auto;
          position: fixed;
          top: 0;
          /*padding: 5px;*/
          background-color: #00dbff;
          display: flex;
          z-index: 1; 
  }

  .headercontainer{
    position: relative;
    width: 100vw;
  }

  .breadcrumbs{
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
    order: 1;
    width: 100vw;
    min-height: 20px;
    padding: 5px 20px 5px 20px;
    height: auto;
    background-color: #7cedff;
  }
.breadcrumbs a{
  text-decoration: none;
  list-style-type: none;
  color:#666;
  font-size: 12px;
  cursor: pointer;
  margin-right: 5px;
  margin-left: 5px;
}

.breadcrumbs a:hover{
  color: black;
  cursor: pointer;
}

.breadcrumbs a:active{
  color: black;
}

.breadcrumbs p{
  color:#666;
}

.du-er-her{
  font-weight: bolder;
}

  
/*
  nav{ 
    position: absolute;
    right:15px;
    bottom: 5px;
    padding: 10px;
  
  }
/*

 
/*---------------------- main content------------------*/
  main{
    margin-top: 185px;
    background-color: #fffff3;
     display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-content: center;
  }

  /*.maincontent{
    margin-top: 150px;
  }*/

  
h1{
    text-align: center;
    font-weight: bolder;
    font-size: (25px, 16.667px, 50px);
    color: black;
    padding: 20px;
  }

  .lektion h3{
    text-align: left;
    color: black;
    margin-top: 20px;
  }

  main p{
    line-height: 1.6;
    font-size: 16px;
  }

  
/*------------------------------ secondary content---------------*/

#klassecontainer{

  width: 95%;
  border: #00dbff solid 5px;
  border-radius: 5px;
  margin: 10px auto 20px auto;
  padding: 10px 10px 25px 10px; 

}

.temacontainer{
  margin-top: 150px;
  width: 95%;
  border: #a6e51c solid 5px;
  border-radius: 5px;
  margin: 10px auto 20px auto;
  padding: 10px 10px 25px 10px; 

}

  section{
    margin-top: 10px;
    background-color: white;
  }


  audio{
   align-self: center;
   margin: 20px auto;
  }

  .emneoverskrift{
    display: block;
    font-size: 45px;
    color: #a6e51c;
    text-align: center;
    margin-top: 20px;
  }

  h2{
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    color: #000000;
    padding: 20px;
  }

  .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
  }

  .containeret{
    border-radius: 5px;
    width: 350px;
    height: 400px;
    padding: 15px;
    background-color: #ecffd4;
  }

   .containerto{
    border-radius: 5px;
    width: 350px;
    height: 400px;
    padding: 15px;
    background-color: #a6e51c;
  }

   .containertre{
    border-radius: 5px;
    width: 350px;
    height: 400px;
    padding: 15px;
    background-color: #53e057;
  }

  .temaimg{
    width: 80%;
    height: auto;
    margin: 10 auto;
    

  }

 .klassetrin{
  width: 90%;
  height: auto;
  display: flex;
  margin: 0 auto;
  align-content: flex-end;
 }

  h3{
    text-align: center;
    font-weight: 700;
    color: black;
  }

  .storknap{
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border: none;
  }

 


  .sendknap{
    width: 40%;
    height: 35px;
    display: block;
    margin: 10px auto;
    font-size: 1.3em;
    font-weight: bold;
    cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #53e057;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px #999;
  }

.sendknap:active{
  box-shadow: 0 1px #666;
  transform: translateY(4px);
  }

  /*---------------------------- footer-----------------------*/

  footer{
    width: 100%;
    height: 80px;
    padding-top: 30px;
    color: #fffff3;
    background-color: #00dbff;
    text-align: center;
    margin-top: 30px;
  }

/* Desktop */

  @media screen and (min-width: 769px){

   .logo{
    display: flex;
    margin: 10px auto 10px 30px;
    height: 80px;
  }

    nav ul{
        display: flex;
        justify-content: flex-end; /* her kan man specificere hvor meuen skal være*/
        align-content: center;
        background-color: #00dbff;
        padding-right: 30px;
        padding-bottom: 15px;
    }

     nav ul li{
    left: 20px;
    bottom: 20px;
    margin-left: 14px;
    list-style: none;
    display: inline-block;
    color: #fffff3;
    margin-bottom: 10px;

    
  }

  nav ul li a{
    color: #ecffd4;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 6px;
    
  }


  nav ul li a:hover{
    font-weight: bolder;
    color: #fffff3;
    border: 2px #fffff3 solid;
    border-radius: 5px;
  }


    #velkomstcontainer{
    max-width: 60%;
   /* border: 3px solid darkgreen;*/
    background-color: #ecffd4;
    border-radius: 10px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    margin: 10px auto; 
}

.lektion{
    width: 60%;
    height: auto;
    margin: 20px auto 4px auto;
    border: 3px #a6e51c solid;
    border-radius: 10px;
    padding: 20px 40px;
    font-size: 18px;
  }

#kontaktform{
   max-width: 95%;
   /* border: 3px solid darkgreen;*/
    background-color: #ecffd4;
    border-radius: 10px;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    margin: 10px auto; 
}

#kontaktform p{
  display: block;
  width: 60%;
  font-size: 1em;
  margin: 10px auto;
}

label{
  color: black;
  font-size: 1.4em;
}

input[type=text], input[type=email], select, textarea{
  width: 100%;
  padding: 1em;
  border: 1px solid #53e057;
  border-radius: 5px;
  margin-top: 0,5em;
  margin-bottom: 2em;
  max-width: 100%;

}


  }

  /*-------------------tablet-------------------------*/

@media screen and (max-width: 768px){

   header{ width: 100%;
          height: 120px;
          position: fixed;
          top: 0;
          /*padding: 5px;*/
          background-color: #00dbff;
          display: flex;
          z-index: 1; 
  }

   .logo{ 
    display: flex;
    justify-content: center;
    height: 70px;
  }

    nav ul{
        display: flex;
        justify-content: center; /* her kan man specificere hvor meuen skal være*/
        align-content: center;
        padding-right: 20px;
        padding-bottom: 10px;
        background-color: #00dbff;
    }

   nav ul li{
    margin-left: 14px;
    list-style: none;
    display: inline-block;
    color: #fffff3;
    margin-bottom: 15px;

    
  }

  nav ul li a{
    color: #ecffd4;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 6px;
    
  }


  nav ul li a:hover{
    font-weight: bolder;
    color: #fffff3;
    border: 2px #fffff3 solid;
    border-radius: 5px;
  }


    #velkomstcontainer{
    max-width: 90%;
   /* border: 3px solid darkgreen;*/
   background-color: #ecffd4;
    border-radius: 10px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
}

.lektion{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin: 20px auto 4px auto;
    border: 3px #a6e51c solid;
    border-radius: 10px;
    padding: 20p 40px;
    font-size: 16px;
  }

#kontaktform{
   max-width: 95%;
   /* border: 3px solid darkgreen;*/
    background-color: #ecffd4;
    border-radius: 10px;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    margin: 10px auto; 
}

#kontaktform p{
  display: block;
  width: 80%;
  font-size: 1em;
  margin: 10px auto;
}

input[type=text], input[type=email], select, textarea{
  width: 100%;
  padding: 1em;
  border: 1px solid #53e057;
  border-radius: 5px;
  margin-top: 0,5em;
  margin-bottom: 2em;
  max-width: 100%;
}


}

  
  /*-----------------mobile-------------------------------*/
   
  @media screen and (max-width: 480px){

     header{ width: 120%;
          height: 120px;
          position: fixed;
          top: 0;
          /*padding: 5px;*/
          background-color: #00dbff;
          display: flex;
          z-index: 1; 
  }


    .logo{ 
    display: flex;
    justify-content: center;
    height: 70px;
  }

    nav ul{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center; 
        align-content: center;
        padding-right: 20px;
        padding-bottom: 5px;
    }

  nav ul li{
    /*margin-left: 10px;*/
    list-style: none;
    display: inline-block;
    color: #fffff3;
    margin-bottom: 4px;

    
  }

  nav ul li a{
    color: #ecffd4;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    padding: 6px;
  
  }

  nav ul li a:hover{
    font-weight: bolder;
    color: #fffff3;
    border: 2px #fffff3 solid;
    border-radius: 5px;
  }

      #velkomstcontainer{
    max-width: 98%;
   /* border: 3px solid darkgreen;*/
   background-color: #ecffd4;
    border-radius: 10px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    
}

.lektion{
  
    display: flex;
    flex-wrap: wrap;
    width: 98%;
    height: auto;
    margin: 20px auto 4px auto;
    border: 3px #a6e51c solid;
    border-radius: 10px;
    padding: 20px;
    font-size: 16px;
  }
 

#kontaktform{
   max-width: 98%;
   /* border: 3px solid darkgreen;*/
    background-color: #ecffd4;
    border-radius: 10px;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    margin: 10px auto; 
}

#kontaktform p{
  display: block;
  width: 90%;
  font-size: 1em;
  margin: 10px auto;
}

input[type=text], input[type=email], select, textarea{
  width: 100%;
  padding: 1em;
  border: 1px solid #53e057;
  border-radius: 5px;
  margin-top: 0,5em;
  margin-bottom: 2em;
  max-width: 100%;

}


  }