*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}


/*
.quicksand-<uniquifier> {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
  */


body{ 

    background-color: blanchedalmond;
    
}



  header{ width: 100%;
          height: 120px;
          position: fixed;
          top: 0;
          background-color: green;
    
  }

  nav{ display: flex;
    justify-content: right;
    padding: 10px;
  
  }

  nav ul li{
    left: 20px;
    bottom: 20px;
    list-style: none;
    display: inline-block;
    background-color: forestgreen;
    padding: 10px;
    border-radius: 10%;
  }

  nav ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: blanchedalmond;
  }


  nav ul li a:hover{
    text-decoration: underline;
    font-weight: bolder;
    color: lightgreen;
  }

  main{
    margin-top: 120px;
    background-color: aqua;
     display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-content: center;
  }

  main p{
    line-height: 1.6;
    font-size: 16px;
  }

  section{
    margin-top: 10px;
  }

  #velkomstcontainer{
    max-width: 60%;
    border: 3px solid darkgreen;
    border-radius: 10px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    
}

  section h1{
    text-align: center;
    font-weight: bolder;
    font-size: 65px;
    color: darkgreen;
    padding: 20px;
  }

  audio{
   align-self: center;
   margin: 20px auto;
  }

  h2{
    text-align: center;
    font-weight: bolder;
    font-size: 55px;
    color: darkgreen;
    padding: 20px;
  }

  .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 15px;
  }

  .temaboks{
    border: darkgreen 3px solid;
    border-radius: 10px;
    width: 350px;
    height: 400px;
    padding: 15px;
  }

  .temaboks h3{
    text-align: center;
    font-weight: bold;
  }

  footer{
    width: 100%;
    height: 60px;
    padding-top: 20px;
    background-color: forestgreen;
    text-align: center;
    margin-top: 30px;
  }